{% extends 'layout.html' %}

{% block maincontent %}
<h1>Add Recipes</h1>
<form method = 'POST'>
    <div>
    <label>Name of recipe:</label>
    <input type ='text' name='recipename'></input>
    </div>
    <div>
    <label>Number of calories:</label>
    <input type ='text' name='numofcalories'></input>
    </div>
    <div>
    <label>Serving Size:</label>
     <input type ='text' name='servingsize'></input>
    </div>
    <div>
    <label>Author of Recipe:</label>
     <input type ='text' name='recipeauthor'></input>
    </div>
    <div>
    <label>Preparation Time:</label>
     <input type ='text' name='preptime'></input>
    </div>
    <div>
    <label>Cook Time:</label>
     <input type ='text' name='cooktime'></input>
    </div>
    <div>
    <label>Ingredients:</label>
     <textarea name = 'ingredients'></textarea>
    </div>
     <div>
    <label>Instructions:</label>
     <textarea name = 'instructions'></textarea>
    </div>
    <div>
    <div>
    <label>Type of Cuisine:</label>
     <select name = 'cuisinetype'>
         {% for c in collection_cuisine %}
         <option>{{c['name']}}</option>
         {% endfor %}
     </select>
    </div>
    <div>
    <label>Difficulty:</label>
     <select name = 'difficulty'>
         {% for d in collection_skill %}
         <option>{{d['name']}}</option>
         {% endfor %}
     </select>
    </div>
    <div>
    <label>Type of Course:</label>
     <select name = 'coursetype'>
         {% for e in collection_course %}
         <option>{{e['name']}}</option>
         {% endfor %}
     </select>
    </div>
     <div>
            <input type='submit'/>
    </div>
    
</form>
{% endblock %}