{% extends 'layout.html' %}

{% block maincontent %}
<style>
    li.outer{
        display:block;
        border:1px black solid;
    }
</style>
 <h1>Recipes</h1>
 <label>Cuisine:</label>
 <select name = 'cuisine' multiple>
{% for n in collection_cuisine %}
<option>{{n['name']}}</option>
{% endfor %}
</select>
<input type='submit' value='Filter'>
{% for m in collection_recipes %}
    <li class = 'outer'>
   <p>Name: {{m['name']}}</p>
   <p>Type of Cuisine: {{m['cuisine_type']}}</p>
   <p>Number of Calories Per Serving: {{m['num_of_calories_per_serving']}}</p>
   <p>Serving Size: {{m['num_of_serving']}}</p>
   <p>Author of Recipe: {{m['recipe_author']}}</p>
   <p>Preparation Time: {{m['preptime']}}</p>
   <p>Cook Time: {{m['cooktime']}}</p>
   <p>Instructions: {{m['instructions']}}</p>
</li>
<a href='edit_recipe/{{m._id}}'>Edit</a>
<a href='delete_recipe/{{m._id}}'>Delete</a>
{% endfor %}
{% endblock %}